:root {
  --primary-color: #357ed9;
  --secondary-color: #b2c4f5;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 64px;
}
p {
  font-family: var(--default-font-family);
  font-weight: 400px;
  font-size: 16px;
  line-height: 30px;
  opacity: 70%;
}
.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 30px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 400px;
  opacity: 0.9;
  font-size: 24px;
  line-height: 2;
}
.hero p {
  font-family: var(--default-font-family);
  font-weight: 900px;
  font-size: 36px;
  opacity: 100%;
}
.contact-btn {
  font-family: var(--default-font-family);
  font-size: 18px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 27px;
}
.contact-btn:hover {
  color: white;
}
.btn-outline-primary {
  font-size: 16px;
  color: var(--primary-color);
  border-radius: 4px;
  padding: 15px 30px;
  line-height: 24px;
  font-weight: 500px;
  font-family: var(--primary-color);
}
.project-description {
  padding: 160px 20px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 45px;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
}
